.header{
	background-color:#113382;
    color:#EDEFF4;
}

.section{
	background-color:#D5DAE5;
	width: 50%;
	float:left;
	height:640px;
	box-sizing: border-box;
	padding-left: 17%;
	}

.aside{
	background-color:#D5DAE5;
	float:right;
	width:50%; 
	height:640px;
	box-sizing: border-box;
}

.aside h2{
	font-family:arial; 
	font-size:30px;
}

.section h2{
	font-family: sans-serif; 
	font-size:30px;
}

.aside input{
	border: 1px darkgrey solid;
    border-radius: 10%;
    height: 25px;
}

.aside input[type="email"]{
	width:335px;
}


.aside input[type="password"]{
	width:335px;
}

.aside input[type="number"]{
	width:70px;
}
.aside input[type="month"]{
	width:70px;
}
.aside input[type="year"]{
	width:70px;
}


.signup{
    background-color:#4D9E48;
    color: #fff; 
    border:1px green solid;
    border-radius: 10%;
    width:170px;
    height: 30px;
    box-sizing: border-box;
}

.para{
	color:#686E67;
}

.blueaside{
    float:right;
    background-color:#113382;
    color:#EDEFF4;
    width:50%;
    height:70px;
    box-sizing: border-box;
}

.fb{
	float:left;
	background-color:#113382;
    color:#EDEFF4;
    width:50%;
    height:70px;
    box-sizing: border-box;
    padding-left: 17%;
   }

.eml{
	float:left;
	box-sizing: border-box;
	padding-left:20px;
	padding-top: 10px;
	padding-right: 10px;
}

.pass{
	float:right;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 10px;
	padding-right:40%;
}

.section h3{
	font-family: tahoma;
	font-weight: 100;
}

.pass input[type="submit"]{
	background-color:#5C55BF;
    color:#EDEFF4;
    border:1px #171261 solid;
}

.aside h4{
	font-family: tahoma;
	font-weight: 100;
}

.eml input[type="email"]{
	width:150px;
	height:13px;
}

.pass input[type="password"]{
	width:150px;
	height: 13px;
}